<div class="fullScreen">
  <vias-datagrid
    [dataSource]="dataSource"
    [columns]="columns"
    [currentPage]="pageno"
    [totalPages]="totalPages"
    [options]="datagridOptions"
    (refresh)="datagridRefreshHandler($event)"
    (rowClick)="datagridClickHandler($event)"
    (selectClick)="datagridSelectBtnClickHandler($event)"
    (addClick)="datagridAddBtnClickHandler($event)"
    (editClick)="datagridEditBtnClickHandler($event)"
    (deleteClick)="datagridDeleteBtnClickHandler($event)"
    *ngIf="hasDatagrid"
    [dgButtons]="dgButtons"
  ></vias-datagrid>
  <vias-buttonbar
    [buttons]="buttonBarItems"
    (itemClick)="butonclickHandler($event)"
    *ngIf="hasButtonbar"
  ></vias-buttonbar>
  <vias-form 
    [formItems]="formItems"
    (submit)="formSubmitHandler($event)"
    *ngIf="hasEditForm"
  ></vias-form>
</div>