<mat-table #table [dataSource]="matDataSource" class="mat-elevation-z8">
  <ng-container *ngFor="let col of columns" [matColumnDef]="col.dataField" 
    [sticky]="col.sticky == true">
    <mat-header-cell *matHeaderCellDef mat-sort-header> 
      {{col.headerText}} <br/>
      <div [ngSwitch]="col.dataType">
        <input matInput *ngSwitchCase="fieldTypes.Text" [placeholder]="'Seçiniz'"/>
        <mat-select *ngSwitchCase="fieldTypes.DropDown" [placeholder]="'Seçiniz'">
          <mat-option *ngFor="let opt of col.filterDataSource" [value]="opt.data">{{opt.name}}</mat-option>
        </mat-select>
    </div>
    </mat-header-cell>
    <mat-cell *matCellDef="let data">
      <span *ngIf="!col.editable">{{data[col.dataField]}}</span>
      <mat-form-field floatLabel="never" *ngIf="col.editable">
        <input matInput placeholder="{{col.headerText}}" [value]="data[col.dataField]"
          [(ngModel)]="data[col.dataField]">
      </mat-form-field>
    </mat-cell>
    <!-- <mat-footer-cell *ngIf="col.footerData != ''">{{col.footerData}}</mat-footer-cell> -->
  </ng-container>
  <mat-header-row *matHeaderRowDef="cols"></mat-header-row>
  <mat-row *matRowDef="let row; columns: cols; let i = index;"
          (click)="rowClickHandler(i,row)"></mat-row>
    <!-- <mat-footer-row *matFooterRowDef="cols"></mat-footer-row> -->
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <div>
  <button mat-raised-button color="primary" (click)="addClicked()" 
    *ngIf="dgButtons.hasAddBtn">Ekle</button>
  <button mat-raised-button color="primary" (click)="editClicked()" 
  *ngIf="dgButtons.hasEditBtn">Guncelle</button>
  <button mat-raised-button color="primary" (click)="deleteClicked()" 
  *ngIf="dgButtons.hasDeleteBtn">Sil</button>
</div>