<div id="dg-container">
    <ag-grid-angular 
        #agGrid
        id="dataGrid"
        style="width: 100%; height: 100%"
        class="ag-theme-balham"
        [gridOptions]="gridOptions"
        [rowData]="dataSource" 
        [columnDefs]="columnDefs"
        [frameworkComponents]="frameworkComponents"
        (sortChanged)="onGridSort($event)"
        (filterChanged)="onGridFilter($event)"
        (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
</div>

<button mat-raised-button color="primary" (click)="selectedClicked()" 
    *ngIf="options['hasSelectButton']">Seç</button>
<button mat-raised-button color="primary" (click)="addClicked()" 
    *ngIf="dgButtons.hasAddBtn">Ekle</button>
<button mat-raised-button color="primary" (click)="editClicked()" 
    *ngIf="dgButtons.hasEditBtn">Guncelle</button>
<button mat-raised-button color="primary" (click)="deleteClicked()" 
    *ngIf="dgButtons.hasDeleteBtn">Sil</button>